<div class="h-full flex gap-4">
  <div class="w-1/2">
    <div class="h-1/2 border-2 border-red-500">
      <h1 class="text-5xl underline">TEAM TYPING COVERAGO</h1>
    </div>
    <div class="h-1/2 border-2 border-blue-500">
      <h1 class="text-5xl underline">MOVE TYPING COVERAGE</h1>
    </div>
  </div>
  <div class="w-1/2 flex flex-col p-2 bg-base-100 shadow-inner rounded-lg">
    <app-pokemon-team class="h-3/5" />
    <div class="h-2/5 border-2 border-red-500">
      <h1 class="text-5xl underline">POKEMON ROLE COVERAGE</h1>
    </div>
  </div>
</div>
