<div class="flex flex-col gap-3 p-3 bg-base-200 rounded-lg">
  <button class="btn justify-start gap-2 btn-primary">
    <i class="fa-solid fa-cube"></i>
    <span>Move</span>
  </button>
  <button class="btn justify-start gap-2 btn-secondary">
    <i class="fa-solid fa-dragon"></i>
    <span>Move</span>
  </button>
  <button class="btn justify-start gap-2 btn-success">
    <i class="fa-solid fa-leaf"></i>
    <span>Move</span>
  </button>
  <button class="btn justify-start gap-2 btn-warning">
    <i class="fa-solid fa-gem"></i>
    <span>Move</span>
  </button>
</div>
