<nav
  class="navbar bg-white h-18 max-w-[1440px] mx-auto px-5 mb-5 rounded-b-box relative z-10"
>
  <div class="navbar-start max-h-full">
    <app-navbar-logo />
  </div>

  <div class="navbar-center hidden lg:flex">
    <app-navbar-menu />
  </div>

  <div class="navbar-center flex lg:hidden">
    <app-navbar-mobile-menu />
  </div>

  <div class="navbar-end">
    <app-navbar-account
      (openAuthModal)="openModal($event)"
      [isChangingModal]="isChangingModal()"
    />
  </div>
</nav>

<app-auth-modal-page
  [modalState]="modalState()"
  [isRegisterModal]="isRegisterModal()"
  (changeModal)="closeModal($event)"
/>
