<ul class="menu menu-horizontal px-1 hidden lg:flex">
  <li><a routerLink="/" routerLinkActive="bg-red-400 ">Home</a></li>
  <li>
    <a routerLink="/team-builder" routerLinkActive="bg-red-400 text-secondary"
      >Team Builder</a
    >
  </li>
  <li>
    <a routerLink="/teams" routerLinkActive="bg-red-400">Teams</a>
  </li>
  <li>
    <a routerLink="/pokedex" routerLinkActive="bg-red-400">Pokedex</a>
  </li>
  <li>
    <a routerLink="/community" routerLinkActive="bg-red-400">Community</a>
  </li>
</ul>
