<div
  class="h-full w-full flex gap-3 p-4 bg-base-100 rounded-lg shadow-md border-2 border-base-200"
>
  <div class="w-3/4 flex flex-col relative p-4 rounded-lg bg-base-200">
    <img
      src="assets/img/art/0.png"
      alt="pokemon-sprite"
      class="h-3/4 mx-auto object-contain"
    />
    <div class="h-1/4 p-2 bg-base-100 rounded-lg">
      <h2
        class="text-2xl font-bold text-primary underline decoration-secondary"
      >
        Pokemon Name
      </h2>
    </div>
  </div>

  <div class="w-1/4 flex flex-col gap-4 justify-between">
    <div class="flex flex-col gap-4">
      <div class="bg-base-200 rounded-lg p-2">
        <div class="join join-horizontal w-full gap-0.5">
          <button
            class="join-item btn btn-sm btn-accent btn-outline w-1/2 hover:animate-pulse"
            [class.btn-active]="isDataTabActive()"
            (click)="changeDataTab()"
          >
            Data
          </button>
          <button
            class="join-item btn btn-sm btn-secondary btn-outline w-1/2 hover:animate-pulse"
            [class.btn-active]="!isDataTabActive()"
            (click)="changeDataTab()"
          >
            Moves
          </button>
        </div>
      </div>
      <app-pokemon-data />
    </div>

    <button
      class="btn btn-error btn-outline hover:btn-error w-full font-bold gap-2"
    >
      <i class="fa-solid fa-trash"></i>
      Remove
    </button>
  </div>
</div>
