<div
  class="group bg-base-100 rounded-lg p-2 shadow-sm hover:shadow-md transition-shadow relative border-2 border-base-200 hover:border-primary h-full"
>
  <div class="absolute -top-2 -right-2">
    <button
      class="btn btn-circle btn-xs btn-error opacity-0 group-hover:opacity-100 transition-opacity"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div
    class="h-1/2 flex items-center justify-center bg-base-200 rounded-lg mb-2 hover:bg-primary/10 cursor-pointer transition-colors"
    (click)="openPokemonSelection.emit(index())"
  >
    <i
      class="fa-solid fa-plus text-3xl text-white group-hover:text-primary"
    ></i>
  </div>

  @if(pokemon()) {
  <div class="text-center h-1/2 flex flex-col justify-between pb-3">
    <p class="font-bold text-primary">Pokemon Name</p>
    <div class="flex gap-1 justify-center">
      <span class="badge badge-primary">Type 1</span>
      <span class="badge badge-secondary">Type 2</span>
    </div>
  </div>
  }
</div>
