<div
  class="transition-transform duration-400 ease-in-out"
  [class.translate-y-74]="this.isMenuDisplayed()"
>
  <button
    class="btn btn-outline border-black border-2 bg-white text-black hover:bg-black hover:text-white transition-colors duration-200 ease-in-out"
    (click)="displayMenu()"
  >
    <i
      class="fa-solid fa-bars fa-lg"
      [class.fa-chevron-up]="this.isMenuDisplayed()"
    ></i>
  </button>
</div>

<div
  class="absolute -top-62 left-1/2 -translate-x-1/2 transition-transform duration-400 ease-in-out w-full bg-[#F8EEDF]"
  [class.translate-y-78]="this.isMenuDisplayed()"
>
  <ul class="menu menu-vertical w-full bg-[#F8EEDF]">
    @for(link of links; track $index){
    <li>
      <a
        [routerLink]="link.link"
        class="btn btn-ghost text-black text-lg font-bold transition-transform duration-200 hover:!text-[#DC143C] hover:-translate-y-0.5"
        routerLinkActive="!text-[#D32F2F] underline"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ link.name }}</a
      >
    </li>
    }
  </ul>
</div>
